html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 1rem;

}
img {
  width: 100%;
  grid-area: banner;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-tamplate-columns: 1fr 1fr 1fr 1fr;
  grid-tamplate-row: 1fr 1fr 1fr;
  margin: 1rem;
}

h1 {
  z-index: 1;
  width: 14rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: flex-end;
}

nav ul {
  display: flex;
  margin-right: 5rem;
  font-family: "Patua One", sans-serif;
  list-style-type: none;
}

a {
  color: #fff;
  font-size: 2rem;
}

h2 {
  color: #30658d;
  margin: .1rem;
  font-family: "Patua One", sans-serif;
}
